<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script type = "text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"/>
    <script type = "text/javascript" src="/js/login.js" />
</head>
<body>
    <p id="identified">Login!</p>
    <form>
        <table>
            <tr>
                <th colspan="2" align="center" >Login</th>
            </tr>
            <tr>
                <td>Username:<input type="text" id="username"/></td>
            </tr>
            <tr>
                <td>Password:<input type="password" id="password"/></td>
            </tr>
            <tr>
                <td align="center" >
                    <button type="button" id="loginButton" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-success">Reset</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>